@model MyThrillRideTrackerWebApp.Models.Park

@{
    ViewData["Title"] = "Create";
}

<h4>Add New Park</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Upload Image:</label>
                <div class="control-label">
                    <img id="user_img" width="100" />
                </div>
                <input type="file" asp-for="ImageFiles" name="files" multiple="multiple" class="form-control no-border no-padding-left" onchange="show(this)" />
                <script type="text/javascript">
                    function show(input) {
                        if (input.files && input.files[0]) {
                            var filereader = new FileReader();
                            filereader.onload = function (e) {
                                $('#user_img').attr('src', e.target.result);
                            }
                            filereader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
                @*<span asp-validation-for="ImageFileName" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
